@media screen and (max-width: 768px)
{
	.navbar
	{
		padding: 10px 20px;
	}
	.navbar h2
	{
		font-size: 23px;
		line-height: 40px;
	}

	.navbar i#menuicon
	{
		display: inline;
		float: right;
		font-size: 20px;
		padding: 0px 10px;
		line-height: 40px;
	}

	.navbar ul
	{
		display: none;
	}

	.navbar ul.active
	{
		display: block;
		width: 100%;
		margin-top: 10px;
		transition: 1s;
	}
	.navbar ul.active li
	{
		display: block;
	}
	.navbar ul.active li a
	{
		display: block;
		text-align: center;
		font-size: 12px;
		padding: 0;
		line-height: 40px;
		margin: 0 0 4px;
		border-radius: 10px;
	}
	.navbar ul.active li a:hover
	{
		color: #f4f4f4;
		background: unset;
	}

	/* ---- slidshow ---- */
	.slideshow_container
	{
		margin: 60px auto 0px;
	}

	h2.content_hdns
	{
		font-size: 22px;
		text-shadow: 0 2px 2px lightgrey;
		margin: 0 0 14px;
	}


	.prev, .next
	{
		padding: 12px;
		font-size: 13px;
	}

	.about
	{
		padding: 15px 20px;
	}
	.about p
	{
		font-size: 12px;
		line-height: 20px;
	}

	/* ----- bio details ----- */
	.bio_tbl
	{
		margin: 0 0 25px;
	}
	.bio_tbl table tr th,
	.bio_tbl table tr td
	{
		padding: 8px;
		font-size: 12px;
	}





	/* ----- skills ------ */
	.skills_tbl table
	{
		font-size: 12px;
	}
	.skills_tbl table tr td
	{
		padding: 8px;
	}
	.skills_tbl table tr td progress
	{
		height: 6px;
	}



	/* ----- courses ----- */
	.cNc_Container
	{
		display: grid;
		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
		grid-gap: 60px;
		padding: 20px;
	}



	/* ----- contact ----- */
	.contact
	{
		padding: 20px;
	}
	.contact .box
	{
		width: 260px;
		/*max-width: 400px;*/
		padding: 20px;
		box-shadow: 0 0 20px lightgray;
		border-radius: 0 18px 18px 18px;
	}
	.contact .box h2
	{
		font-weight: 400;
		font-size: 21px;
		margin: 0 0 10px;
	}
	.contact .box form input
	{
		padding: 0px 5px 0px;
		margin: 0 0 10px;
		font-size: 10px;
		height: 30px;
		border-bottom: 1.5px solid #10ac84;
	}
	.contact .box form textarea
	{
		padding: 0px 5px 0px;
		margin: 0 0 8px;
		font-size: 10px;
		height: 35px;
		border-bottom: 1.5px solid #10ac84;
	}
	.contact .box form button
	{
		font-size: 8px;
		padding: 6px;
		border-radius: 6px;
	}


	/* popup message */
	.sendedMessage .popupBox
	{
		width: 250px;
	}
	.sendedMessage .popupBox h4
	{
		font-size: 13px;
	}
	.sendedMessage .popupBox button
	{
		font-size: 11px;
		padding: 2px 4px;
	}


	/* ----- socials ----- */
	.socialsNLinks
	{
		padding: 10px 20px 20px;
	}
	.socialsNLinks div.container div.box
	{
		width: 40px;
		height: 40px;
		margin: 0 3px;
	}
	.socialsNLinks div.container div.box i
	{
		font-size: 13px;
	}


	
	/* ----- footer ----- */
	.footer p
	{
		font-size: 9px;
		padding: 10px 20px;
	}

}



@media screen and (max-width: 425px)
{
	.navbar
	{
		padding: 10px;
	}
	.navbar h2
	{
		font-size: 20px;
		line-height: 35px;
	}
	.navbar i#menuicon
	{
		font-size: 16px;
		line-height: 35px;
	}

	.navbar ul.active
	{
		margin-top: 8px;
	}
	.navbar ul.active li
	{
/*		display: block;*/
	}
	.navbar ul.active li a
	{
		font-size: 8px;
		line-height: 30px;
		margin: 0 0 3px;
		border-radius: 8px;
	}

	/* ---- slidshow ---- */
	.slideshow_container
	{
		margin: 55px auto 0px;
	}

	.prev, .next
	{
		padding: 8px;
		font-size: 10px;
	}


	h2.content_hdns
	{
		font-size: 18px;
		text-shadow: 0 2px 2px lightgrey;
		margin: 0 0 10px;
	}


	.about
	{
		padding: 10px;
	}
	.about p
	{
		letter-spacing: 0;
		font-size: 10px;
		line-height: 16px;
		font-weight: 400;
	}

	.bio_tbl
	{
		margin: 0 0 20px;
	}
	.bio_tbl table tr th,
	.bio_tbl table tr td
	{
		padding: 4px;
		font-size: 10px;
	}
	.bio_tbl table tr td.shortbio
	{
		line-height: 16px;
	}

	.skills_tbl
	{
		margin: 0 0 20px;
	}
	.skills_tbl table tr td
	{
		padding: 4px;
		font-size: 10px;
	}
	.skills_tbl table tr td progress
	{
		height: 4px;
	}





	/* ----- courses ----- */
	.cNc_Container
	{
		display: grid;
		grid-template-columns: minmax(100px, 1fr);
		grid-gap: 60px;
		padding: 20px;
	}






	.contact
	{
		padding: 20px 10px;
	}
	.contact .box
	{
		padding: 18px;
		width: 220px;
	}
	.contact .box h2
	{
		font-size: 18px;
	}
	.contact .box form input
	{
		height: 25px;
	}
	.contact .box form textarea
	{
		height: 30px;
	}
	.contact .box form button
	{
		font-size: 7px;
		padding: 5.5px;
	}


	/* ----- popup message ----- */
	.sendedMessage .popupBox
	{
		width: 225px;
	}
	.sendedMessage .popupBox h4
	{
		font-size: 11px;
	}
	.sendedMessage .popupBox button
	{
		font-size: 9px;
	}


	/* ----- socials ----- */
	.socialsNLinks
	{
		padding: 10px 10px 15px;
	}
	.socialsNLinks div.container div.box
	{
		width: 32px;
		height: 32px;
		margin: 0 2.5px;
	}
	.socialsNLinks div.container div.box i
	{
		font-size: 12px;
	}


	/* ----- footer ----- */
	.footer p
	{
		padding: 10px;
		font-size: 7px;
	}
	
}