@media screen and (max-width: 768px)
{
	.navbar
	{
		padding: 10px 20px;
	}
	.navbar h2
	{
		font-size: 23px;
		line-height: 40px;
	}

	.navbar i#menuicon
	{
		display: inline;
		float: right;
		font-size: 20px;
		padding: 0px 10px;
		line-height: 40px;
	}

	.navbar ul
	{
		display: none;
	}

	.navbar ul.active
	{
		display: block;
		width: 100%;
		margin-top: 10px;
		transition: 1s;
	}
	.navbar ul.active li
	{
		display: block;
	}
	.navbar ul.active li a
	{
		display: block;
		text-align: center;
		font-size: 12px;
		padding: 0;
		line-height: 40px;
		margin: 0 0 4px;
		border-radius: 10px;
	}
	.navbar ul.active li a:hover
	{
		color: #f4f4f4;
		background: unset;
	}



}



@media screen and (max-width: 425px)
{
	.navbar
	{
		padding: 10px;
	}
	.navbar h2
	{
		font-size: 20px;
		line-height: 35px;
	}
	.navbar i#menuicon
	{
		font-size: 16px;
		line-height: 35px;
	}

	.navbar ul.active
	{
		margin-top: 8px;
	}
	.navbar ul.active li
	{
/*		display: block;*/
	}
	.navbar ul.active li a
	{
		font-size: 8px;
		line-height: 30px;
		margin: 0 0 3px;
		border-radius: 8px;
	}

	
}